
<div class="container">
    <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
           <h1>Nouveau Transfert</h1> 
        </div>
        <div class="panel-body">
            <form #f="ngForm" (ngSubmit)="onSaveTransfert(f.value)">
                <div class="form-group">
                    <label class="control-label">Emeteur</label>
                    <input type="text" class="form-control" name="nomEnvoie" placeholder="entrer Emeteur" ngModel>
                </div>
                <div class="form-group">
                    <label class="control-label">Recepteur</label>
                    <input type="text" class="form-control" name="nomRecepteur" placeholder="entrer Recepteur" ngModel>
                </div>
                <div class="form-group">
                    <label class="control-label">Montant</label>
                    <input type="number" class="form-control" name="montant" placeholder="entrer prix" ngModel>
                </div>
                <div class="form-group">
                    <label class="control-label">Frais</label>
                    <input type="number" class="form-control" name="frais" placeholder="entrer montant" ngModel>
                </div>
                <div class="form-group">
                    <label class="control-label">status</label>
                    <input type="text" class="form-control" name="status" placeholder="entrer status" ngModel>
                </div>
                <button class="btn btn-success" type="submit">save</button>
            </form>
        </div>
    
    </div>
    </div>
    </div>
